pdfplumber==0.11.8
pdfminer.six==20251107
pillow==12.0.0
pypdfium2==5.1.0
charset-normalizer==3.4.4
cryptography==46.0.3
typing_extensions==4.15.0
pdfplumber==0.11.8
pdfminer.six==20251107
pillow==12.0.0
pypdfium2==5.1.0
charset-normalizer==3.4.4
cryptography==46.0.3
typing_extensions==4.15.0
